In [14]:
# Margin, lots and price extraction

# STATUS: Incomplete

import requests
import datetime
import pandas as pd

#******         Paths and variables         ****
#_______________________________________________

datapath = r'./zdata/'

In [53]:
#******         Pick up the options symbols ****
#_______________________________________________

symbols = pd.read_pickle(datapath+'df_nse_options.pkl')

In [56]:
df1 = symbols.drop_duplicates(subset=['Symbol'])

In [35]:
# ***** Get list with Mlots + Margin% from 5paisa
paisaurl = "https://www.5paisa.com/5pit/spma.asp"
paisa = pd.read_html(paisaurl, header=0)[1].drop_duplicates(subset='Symbol')
paisa_small = paisa[['Symbol', 'Mlot', 'TotMgn%']].sort_values('Symbol').reset_index(drop=True)

In [68]:
df3 = df1.merge(paisa_small, how = 'outer', suffixes= ['', '_'], indicator=True)

In [69]:
df3[df3['_merge'] != 'both']

,Symbol,Expiry,Strike,cOI,cChnginOI,cVolume,cIV,cLTP,cNetChng,cBidQty,...,pAskQty,pNetChng,pLTP,pIV,pVolume,pChnginOI,pOI,Mlot,TotMgn%,_merge
10,ARVIND,2018-11-29,220.0,8000.0,NaN,NaN,NaN,134.0,NaN,4000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
199,BALKRISIND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800.0,16.28,right_only
200,FEDERALBNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5500.0,16.34,right_only
201,GLENMARK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,16.27,right_only
202,JSWSTEEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.0,16.26,right_only
203,KPIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2250.0,17.31,right_only
204,L&TFH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4500.0,18.27,right_only
205,M&M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,16.29,right_only
206,M&MFIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1250.0,18.26,right_only
207,NIFTYMID50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,9.51,right_only

In [65]:
len(paisa_small)

207

In [13]:
df_raw.loc[df_raw.Symbol == 'ACC', :]

,RecType,Symbol,Series,ISIN,SecVaR,IndexVaR,VaRMargin,XLossRate,AdhocMargin,MarginRate
334,20,ACC,EQ,INE012A01025,0.0728,0.0,0.075,0.05,0.0,0.125

In [27]:
df1 = pd.read_pickle(datapath+'df_nse_options.pkl')

In [29]:
df1[df1.Symbol == 'BANKNIFTY']

,Symbol,Expiry,Strike,cOI,cChnginOI,cVolume,cIV,cLTP,cNetChng,cBidQty,...,pBidQty,pBidPrice,pAskPrice,pAskQty,pNetChng,pLTP,pIV,pVolume,pChnginOI,pOI
6693,BANKNIFTY,2018-11-22,22800.0,NaN,NaN,NaN,NaN,NaN,NaN,200.0,...,40.0,0.40,0.50,380.0,-0.95,0.50,53.33,30302.0,-280.0,6000.0
6694,BANKNIFTY,2018-11-22,22900.0,NaN,NaN,NaN,NaN,NaN,NaN,200.0,...,20.0,0.45,0.80,1080.0,-0.75,0.50,51.84,22845.0,-700.0,1600.0
6695,BANKNIFTY,2018-11-22,23000.0,NaN,NaN,NaN,NaN,NaN,NaN,240.0,...,20.0,0.45,0.85,20.0,-0.90,0.55,50.77,27177.0,-2720.0,34420.0
6696,BANKNIFTY,2018-11-22,23100.0,NaN,NaN,NaN,NaN,NaN,NaN,100.0,...,20.0,0.70,0.95,40.0,-0.75,0.75,50.70,556.0,20.0,80.0
6697,BANKNIFTY,2018-11-22,23200.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,2000.0,0.25,4.00,20.0,NaN,1.20,NaN,NaN,NaN,40.0
6698,BANKNIFTY,2018-11-22,23300.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,2000.0,0.70,2.20,200.0,0.80,1.95,52.53,617.0,20.0,2040.0
6699,BANKNIFTY,2018-11-22,23400.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,400.0,0.80,1.40,20.0,-250.90,1.30,48.71,2337.0,220.0,220.0
6700,BANKNIFTY,2018-11-22,23500.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,80.0,2.50,2.90,2400.0,0.55,2.75,51.20,1709.0,840.0,47580.0
6701,BANKNIFTY,2018-11-22,23600.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,200.0,1.55,NaN,NaN,-294.95,2.50,48.94,5178.0,2920.0,2920.0
6702,BANKNIFTY,2018-11-22,23700.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,980.0,1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6703,BANKNIFTY,2018-11-22,23800.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,980.0,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6704,BANKNIFTY,2018-11-22,23900.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,200.0,1.35,4.50,2400.0,0.65,4.40,47.11,5.0,20.0,40.0
6705,BANKNIFTY,2018-11-22,24000.0,820.0,NaN,1.0,NaN,2258.40,123.40,20.0,...,1560.0,3.40,3.50,660.0,0.60,3.50,43.99,21958.0,168060.0,284280.0
6706,BANKNIFTY,2018-11-22,24100.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,20.0,3.50,4.75,2000.0,0.95,4.15,43.20,15647.0,8900.0,9880.0
6707,BANKNIFTY,2018-11-22,24200.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,740.0,4.15,6.80,1000.0,0.55,4.15,41.43,23898.0,19820.0,23860.0
6708,BANKNIFTY,2018-11-22,24300.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,100.0,3.90,4.90,40.0,1.20,5.00,40.69,29456.0,16900.0,22540.0
6709,BANKNIFTY,2018-11-22,24400.0,NaN,NaN,NaN,NaN,NaN,NaN,520.0,...,180.0,4.40,4.90,40.0,0.95,5.00,38.88,34788.0,12240.0,16300.0
6710,BANKNIFTY,2018-11-22,24500.0,1820.0,80.0,5.0,NaN,1739.00,47.30,20.0,...,20.0,4.80,5.00,3400.0,0.50,5.00,37.06,44588.0,40080.0,222700.0
6711,BANKNIFTY,2018-11-22,24600.0,2460.0,NaN,2.0,NaN,1637.80,-16.95,20.0,...,200.0,3.10,7.95,80.0,3.25,8.00,37.87,36710.0,-3340.0,30600.0
6712,BANKNIFTY,2018-11-22,24700.0,840.0,-20.0,4.0,NaN,1538.60,29.70,20.0,...,260.0,6.00,7.95,100.0,1.40,7.00,35.18,40511.0,7320.0,19180.0
6713,BANKNIFTY,2018-11-22,24800.0,NaN,NaN,NaN,NaN,NaN,NaN,20.0,...,2000.0,7.00,9.00,200.0,2.55,9.00,34.68,45933.0,15680.0,51220.0
6714,BANKNIFTY,2018-11-22,24900.0,NaN,NaN,NaN,NaN,NaN,NaN,20.0,...,40.0,8.05,9.70,1020.0,2.05,9.70,33.15,42871.0,-9220.0,37500.0
6715,BANKNIFTY,2018-11-22,25000.0,19880.0,-20.0,144.0,26.76,1325.00,107.25,20.0,...,40.0,10.50,10.80,2160.0,0.65,10.55,31.62,100380.0,-42580.0,376520.0
6716,BANKNIFTY,2018-11-22,25100.0,5200.0,NaN,14.0,NaN,1210.90,94.30,20.0,...,500.0,12.05,12.70,200.0,1.55,12.80,30.70,47753.0,-9880.0,48320.0
6717,BANKNIFTY,2018-11-22,25200.0,9960.0,NaN,21.0,NaN,1118.95,95.55,500.0,...,280.0,15.05,16.30,540.0,0.15,15.05,29.55,64378.0,-13160.0,210460.0
6718,BANKNIFTY,2018-11-22,25300.0,1380.0,-160.0,26.0,NaN,960.25,5.25,20.0,...,420.0,18.25,21.95,1800.0,-1.45,18.25,28.55,73823.0,-20520.0,171180.0
6719,BANKNIFTY,2018-11-22,25400.0,6660.0,NaN,76.0,NaN,918.50,83.65,20.0,...,80.0,24.05,24.95,260.0,-2.20,24.00,28.06,89332.0,14680.0,152820.0
6720,BANKNIFTY,2018-11-22,25500.0,50240.0,-2720.0,436.0,24.74,842.25,92.15,20.0,...,340.0,29.05,30.85,280.0,-4.95,30.20,27.28,164658.0,56220.0,604660.0
6721,BANKNIFTY,2018-11-22,25600.0,4120.0,-1740.0,265.0,24.26,749.70,84.70,20.0,...,180.0,37.05,38.00,140.0,-8.45,37.05,26.29,106294.0,-9100.0,243840.0
6722,BANKNIFTY,2018-11-22,25700.0,27920.0,-3100.0,975.0,23.09,656.10,78.05,20.0,...,60.0,48.00,48.95,320.0,-8.70,48.95,25.89,186925.0,-21940.0,431940.0
6723,BANKNIFTY,2018-11-22,25800.0,41960.0,-35960.0,3827.0,24.72,581.10,83.55,20.0,...,120.0,60.70,62.00,1300.0,-14.30,61.95,25.15,253766.0,70980.0,491340.0
6724,BANKNIFTY,2018-11-22,25900.0,40260.0,-2620.0,2149.0,25.30,506.70,81.00,40.0,...,40.0,77.40,79.25,40.0,-18.05,79.45,24.57,222516.0,145620.0,380320.0
6725,BANKNIFTY,2018-11-22,26000.0,386720.0,-17900.0,21945.0,23.87,422.35,65.20,20.0,...,300.0,100.00,100.95,100.0,-24.20,100.95,23.96,374676.0,287080.0,690200.0
6726,BANKNIFTY,2018-11-22,26100.0,151800.0,-12980.0,28362.0,23.28,349.15,55.50,60.0,...,40.0,125.10,126.20,100.0,-32.65,126.00,23.16,165414.0,71580.0,221900.0
6727,BANKNIFTY,2018-11-22,26200.0,236940.0,-22400.0,92518.0,22.48,280.00,47.25,20.0,...,40.0,156.55,158.95,280.0,-42.45,155.00,22.18,184519.0,122480.0,316200.0
6728,BANKNIFTY,2018-11-22,26300.0,260100.0,2800.0,183783.0,22.32,223.55,40.50,200.0,...,80.0,196.00,197.95,80.0,-51.60,193.00,21.45,106730.0,81720.0,152020.0
6729,BANKNIFTY,2018-11-22,26400.0,268340.0,1760.0,228405.0,21.99,172.95,32.80,120.0,...,20.0,219.20,250.00,40.0,-82.70,217.10,18.43,33957.0,27440.0,55580.0
6730,BANKNIFTY,2018-11-22,26500.0,611160.0,28520.0,425736.0,21.64,129.80,25.10,240.0,...,200.0,300.00,305.60,400.0,-63.35,300.00,20.82,29543.0,30060.0,81040.0
6731,BANKNIFTY,2018-11-22,26600.0,238700.0,45820.0,278565.0,21.24,93.85,19.20,80.0,...,20.0,342.95,370.00,120.0,-74.50,358.60,19.69,1955.0,10560.0,14060.0
6732,BANKNIFTY,2018-11-22,26700.0,318580.0,-7840.0,239687.0,21.09,67.00,15.60,120.0,...,20.0,416.05,451.75,20.0,-77.45,433.00,19.49,292.0,1100.0,2720.0
6733,BANKNIFTY,2018-11-22,26800.0,347100.0,61120.0,207390.0,20.91,46.20,11.65,180.0,...,20.0,489.10,530.05,20.0,-100.05,493.25,15.08,201.0,1580.0,1720.0
6734,BANKNIFTY,2018-11-22,26900.0,157000.0,-7000.0,115530.0,20.73,30.70,8.05,60.0,...,20.0,579.85,614.80,20.0,-121.15,588.00,15.81,95.0,720.0,760.0
6735,BANKNIFTY,2018-11-22,27000.0,515120.0,103780.0,158430.0,20.78,20.55,5.55,300.0,...,20.0,666.90,693.75,20.0,-85.30,679.95,13.99,267.0,380.0,5320.0
6736,BANKNIFTY,2018-11-22,27100.0,134100.0,29600.0,63765.0,20.39,12.15,1.00,440.0,...,460.0,507.15,1183.30,460.0,NaN,NaN,NaN,NaN,NaN,NaN
6737,BANKNIFTY,2018-11-22,27200.0,80900.0,42940.0,39766.0,20.88,8.55,2.05,160.0,...,460.0,560.55,1307.95,460.0,NaN,NaN,NaN,NaN,NaN,NaN
6738,BANKNIFTY,2018-11-22,27300.0,62100.0,24660.0,21767.0,21.24,5.80,1.05,40.0,...,460.0,615.40,1435.85,460.0,NaN,NaN,NaN,NaN,NaN,NaN
6739,BANKNIFTY,2018-11-22,27400.0,37100.0,14980.0,10035.0,21.84,4.20,0.75,20.0,...,460.0,671.35,1566.50,460.0,NaN,NaN,NaN,NaN,NaN,NaN
6740,BANKNIFTY,2018-11-22,27500.0,165480.0,97240.0,22577.0,22.73,3.35,0.65,20.0,...,460.0,728.25,1381.70,460.0,NaN,NaN,NaN,NaN,NaN,NaN
6741,BANKNIFTY,2018-11-22,27600.0,2540.0,2340.0,704.0,22.68,2.00,0.20,280.0,...,460.0,787.30,1836.95,460.0,NaN,NaN,NaN,NaN,NaN,NaN
6742,BANKNIFTY,2018-11-22,27700.0,3940.0,1700.0,479.0,24.18,2.00,0.90,1400.0,...,460.0,847.05,1976.40,460.0,NaN,NaN,NaN,NaN,NaN,NaN
6743,BANKNIFTY,2018-11-22,27800.0,320.0,200.0,51.0,25.24,1.75,-0.40,1200.0,...,460.0,906.90,2116.05,460.0,NaN,NaN,NaN,NaN,NaN,NaN
6744,BANKNIFTY,2018-11-22,27900.0,8880.0,1080.0,143.0,25.65,1.25,-0.35,40.0,...,NaN,NaN,1893.90,460.0,NaN,1675.05,NaN,NaN,NaN,560.0
6745,BANKNIFTY,2018-11-22,NaN,NaN,4200440.0,2147583.0,2634560.00,5466480.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN