In [22]:
# Margin extraction

# STATUS: Incomplete

import requests
import datetime
import pandas as pd

#******         Paths and variables         ****
#_______________________________________________

datapath = r'./zdata/'

#***       NSE base data for Equityies       ***
# ______________________________________________

# Margins for equities are given in the web-site:
# https://www.nseindia.com/archives/nsccl/var/C_VAR1_ddmmyyyy_1.DAT

# Set date in the right format for today
dt = datetime.datetime.now().strftime('%d%m%Y')

url = 'https://www.nseindia.com/archives/nsccl/var/C_VAR1_'+dt+'_1.DAT'
page = requests.get(url).text

data = page.replace('\n', ';') # replaces the newline feeds

# Remove the first row, and split the data into columns
df_raw = pd.read_csv(pd.compat.StringIO(data), header=None, sep=';').T[1:][0].str.split(',', expand=True)
df_raw = df_raw.rename({0: 'RecType', 1: 'Symbol', 2: 'Series', 
               3: 'ISIN', 4: 'SecVaR', 5: 'IndexVaR',
               6: 'VaRMargin', 7: 'XLossRate', 8: 'AdhocMargin', 9: 'MarginRate'}, axis=1)

# Convert the data into float %ge
fields = 'SecVaR,IndexVaR,VaRMargin,XLossRate,AdhocMargin,MarginRate'.split(',')
df_raw[fields] = df_raw[fields].apply(pd.to_numeric).div(100)

df = df_raw[['Symbol', 'MarginRate']]

In [30]:
# ***** Get list with Mlots + Margin% from 5paisa
paisaurl = "https://www.5paisa.com/5pit/spma.asp"
paisa = pd.read_html(paisaurl, header=0)[1].drop_duplicates(subset='Symbol')
paisa_small = paisa[['Symbol', 'Mlot', 'TotMgnPerLt']].sort_values('Symbol').reset_index(drop=True)

In [31]:
paisa_small

         Symbol   Mlot  TotMgnPerLt
0           ACC    400   98005.0000
1      ADANIENT   4000  108180.7600
2    ADANIPORTS   2500  142818.7500
3    ADANIPOWER  20000  342457.8000
4    AJANTPHARM    500   92657.5000
5          ALBK  11000  108955.0000
6    AMARAJABAT    700   83508.2500
7     AMBUJACEM   2500   89768.7500
8    APOLLOHOSP    500   99916.2500
9    APOLLOTYRE   3000  112050.0000
10       ARVIND   2000  103660.0000
11     ASHOKLEY   4000   73230.0000
12   ASIANPAINT    600  128421.0000
13   AUROPHARMA   1000  129282.5000
14     AXISBANK   1200  120534.0000
15   BAJAJ-AUTO    250  109251.2500
16   BAJAJFINSV    125  116625.9375
17   BAJFINANCE    250  102193.5000
18   BALKRISIND    800  125846.0000
19   BANKBARODA   4000   75230.0000
20    BANKINDIA   6000   91950.0000
21    BANKNIFTY     20   50155.4000
22    BATAINDIA    550   89215.5000
23          BEL   4950   75697.8750
24         BEML    500   64657.5000
25   BERGEPAINT   2200  113074.5000
26    BHARATFIN    500   77685.0000
27   BHARATFORG   1200  116316.0000
28   BHARTIARTL   1700   93300.2500
29         BHEL   7500   83025.0000
..          ...    ...          ...
178       SUNTV   1000  100635.0000
179      SUZLON  45000   39712.5000
180   SYNDIBANK   9000   52830.0000
181    TATACHEM    750   85601.2500
182    TATACOMM    800   70180.0000
183   TATAELXSI    400   64100.0000
184  TATAGLOBAL   2250   82249.2500
185  TATAMOTORS   1500   45097.5000
186  TATAMTRDVR   2800   46165.0000
187   TATAPOWER   9000  113400.0000
188   TATASTEEL   1061  100699.1500
189         TCS    250   77502.5000
190       TECHM   1200  143172.0000
191       TITAN    750  112611.1250
192  TORNTPHARM    500  136285.0000
193  TORNTPOWER   3000  127470.0000
194  TV18BRDCST   8500   51382.5000
195    TVSMOTOR   1000   90512.5000
196         UBL    700  150193.7500
197     UJJIVAN   1600   79200.0000
198  ULTRACEMCO    200  131179.0000
199   UNIONBANK   6000   85410.0000
200         UPL   1200  151668.0000
201        VEDL   1750   60314.2500
202      VGUARD   3000   95602.5000
203      VOLTAS   1000   91500.0000
204       WIPRO   2400  130176.0000
205  WOCKPHARMA    900   84541.5000
206     YESBANK   1750   89560.2675
207        ZEEL   1300   94731.0000

[208 rows x 3 columns]